* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    color: #000;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.back-to-top {
    position: fixed;
    right: 20px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background-color: #359740;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
    transition: all 0.3s ease;
}

.back-to-top i {
    font-size: 50px;
    color: #fff;
}

.back-to-top.show {
    bottom: 20px;
}

.back-to-top.hide {
    bottom: -120px;
}

/* headre */

.header {
    box-shadow: 0 4px 10px #CFCFCF40;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 32px;
}

.header__cart-div {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #359740;
    border-radius: 50%;
}

.header__cart-length {
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__btn--active {
    position: relative;
}

.header__like-div {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #359740;
    border-radius: 50%;
}

.header__like-length {
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-link {}

.header__logo {}

.header__list {
    display: flex;
    margin-left: 64px;
}

.header__item {
    border-left: 2px solid #EFEFEF;

}

.header__link {
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    transition: all 0.3s ease;
}

.header__link.active {
    color: #359740;
}

.header__item:hover .header__link {
    color: #359740;
}

.header__item:nth-child(1) {
    border-left: none;
}

.header__icons {
    display: flex;
    margin-left: 45px;
    gap: 5px;
}

.header__search-div {
    display: flex;
    margin-left: 13px;
    position: relative;
}

.header__search {
    padding: 12px 30px 12px 60px;
    border-radius: 71px;
    border: 1px solid #EFEFEF;
    font-size: 14px;
    outline: none;
    color: #70737C;
    font-weight: 400;
}

.header__search-div::before {
    content: "";
    position: absolute;
    background-image: url("./assets/icons/search-icon.svg");
    width: 24px;
    height: 24px;
    top: 12px;
    left: 20px;
}

.header__btn-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.header__btn {
    padding: 10px;
    cursor: pointer;
}

.header__heart {}

.header__savat {}

.header-content {
    display: flex;
    gap: 30px;
}

.header___burger {
    display: none;
}

.header__burger-div {
    position: fixed;
    z-index: 100;
    top: 90px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 12px #EFEFEF;
    width: 280px;
    padding: 15px;
    height: 100vh;
}

.header__burger-list {
    padding-bottom: 20px;
    border-bottom: 1px solid #CFCFCF;
}

.header__burger-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    border-top: 2px solid #EFEFEF;
}

.header__burger-item:nth-child(1) {
    border: none;
}

.header__burger-item-span {
    font-size: 16px;
    font-weight: 500;
    color: #1F2533;
}

.header__burger-arrow {}

.header__burger-middle {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.header__burger-link {
    font-size: 16px;
    font-weight: 600;
    color: #1F2533;
    padding: 7px 10px 7px 0;
}

.header__burger-search-div {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.header__burger-search-div::before {
    content: "";
    position: absolute;
    background-image: url("./assets/icons/search-icon.svg");
    width: 24px;
    height: 24px;
    top: 12px;
    left: 20px;
}

.header__burger-search {
    padding: 12px 30px 12px 60px;
    border-radius: 71px;
    border: 1px solid #EFEFEF;
    font-size: 14px;
    outline: none;
    color: #70737C;
    font-weight: 400;
}

.header__burger-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #CFCFCF;
    padding-top: 20px;
}

@media (max-width : 1120px) {
    .header__list {
        margin: 0 20px;
    }

    .header__icons {
        margin: 0;
    }
}

@media (max-width : 1050px) {
    .header__icons {
        display: none;
    }

    .header__search-div {
        margin: 0;
    }

    .header__list {
        margin: 0;
    }
}

@media (max-width : 950px) {
    .header__search {
        display: none;
    }


    main {
        margin-top: 140px;
    }

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: #fff;
    }

    .header__inner {
        margin: 0;
    }

    .header__search-div::before {
        display: none;
    }

    .header__btn-group {
        margin: 0;
    }

    .header__list {
        display: none;
    }

    .header___burger {
        display: block;
    }
}

/* Hero */


.hero {}

.hero__inner {}

.hero__top {
    position: relative;
    padding: 50px 0 50px 76px;
    background-color: #EAF1EB;
    border-radius: 24px;
}

.hero__top::before {
    content: "";
    position: absolute;
    background-image: url("./assets/images/hero__img.png");
    width: 349px;
    height: 349px;
    object-fit: cover;
    right: 0;
    z-index: 2;
}

.hero__top::after {
    content: "";
    position: absolute;
    background-image: url("./assets/images/hero__img-2.png");
    width: 318px;
    height: 259px;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero__left {}

.hero__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
    max-width: 650px;
    line-height: 54px;
}

.hero__text {
    font-size: 16px;
    font-weight: 300;
    max-width: 560px;
    line-height: 28px;
    margin-bottom: 21px;
}

.hero__bottom {}

.hero__bottom-left {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.hero__bottom-left-span-1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    margin-right: 20px;
    margin-left: 15px;
}

.hero__bottom-left-span-2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 54px;
    color: #70737C;
    text-decoration: line-through;
}

.hero__bottom-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero__bottom-left-add {
    background-color: #359740;
    padding: 11px 0;
    width: 100%;
    max-width: 153px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    line-height: 178%;
}

.hero__bottom-left-discover {
    background-color: #fff;
    padding: 11px 0;
    width: 100%;
    max-width: 153px;
    font-size: 16px;
    font-weight: 500;
    color: #359740;
    border-radius: 8px;
    line-height: 178%;
}

.hero__bottom-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0;
    background-color: #FFE62E17;
    margin-top: 16px;
    border-radius: 8px;
}

.hero__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #1F2533;
    line-height: 31.5px;
}


.hero__description {
    font-size: 16px;
    font-weight: 500;
    color: #70737C;
    line-height: 178%;
}

@media (max-width : 980px) {
    .hero__top {
        padding: 400px 22px 50px 22px;
    }

    .hero__top::before {
        top: 40px;
        left: 50%;
        transform: translate(-50%);
        width: 280px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero__top::after {
        top: 0;
        left: 0;
        transform: rotate(180deg);
    }

    .hero__title {
        max-width: 100%;
    }

    .hero__text {
        max-width: 100%;
    }
}

@media (max-width : 600px) {
    .hero__title {
        font-size: 35px;
        line-height: 50px;
    }

    .hero__bottom-second {
        padding: 30px;
    }

    .hero__description {
        text-align: center;
    }

}

@media (max-width : 450px) {

    .hero__top {
        padding: 250px 22px 50px 22px;
    }


    .hero__top::after {
        width: 252px;
        height: 206px;
    }

    .hero__bottom-left-span-1 {
        font-size: 32px;
        font-weight: 600;
        margin: 0 10px;
    }

    .hero__bottom-left-span-2 {
        font-size: 22px;
        font-weight: 600;
    }

    .hero__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
    }

    .hero__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }

    .hero__top::before {
        top: 40px;
        left: 50%;
        transform: translate(-50%);
        width: 188px;
        height: 188px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (max-width : 320px) {
    .hero__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
    }

    .hero__text {
        line-height: 20px;
    }

    .hero__description {
        font-size: 14px;
        margin-top: 5px;
    }
}

/* products */

.products__inner {
    margin-top: 58px;
}

.no-products {
    font-size: 30px;
}

.no-products p {
    color: red;
    text-align: center;
}

.products__top-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-item {
    position: relative;
    border: 1px solid #EFEFEF;
    padding: 28px;
    border-radius: 8px;
}

.product-item__incart-div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 11px;
    border: 1px solid #EFEFEF;
}

.product-item__incart-minus-btn {
    display: flex;
    align-items: center;
}

.product-item__incart-add-btn {
    display: flex;
    align-items: center;
}


.product-item__incart-count-span {
    background-color: #35974014;
    font-size: 16px;
    font-weight: 500;
    color: #359740;
    padding: 0 10px;
    border-radius: 6px;
}

.product-item-like-div {
    position: absolute;
    top: 15px;
    right: 15px;
}

.product-item__like {
    border: 1px solid #EFEFEF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

.product-item__like.active {
    border-color: #FFCF55;
}

.product-item-like-img {
    color: #359740;
    font-size: 22px;
}

.product-item-like-img.active {
    color: white;
}


.product-item__image {
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.product-item__details {
    margin-top: 25px;

}

.product-item__rating-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 5px;
}

.product-item__stars {}

.product-item__star {}

.product-item__review-count {}

.product-item__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #1F2533;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-item__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item__price {
    font-size: 28px;
    font-weight: 600;
    line-height: 54px;
    color: #1F2533;
}

.product-item__btn {
    border: 2px solid #EFEFEF;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item__btn:hover {
    background-color: #35974014;
}

.product-item__btn.active {
    background-color: #359740;
}

.product-item__cart-icon {}

@media (max-width : 970px) {
    .products__top-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 600px) {
    .products__top-list {
        grid-template-columns: 1fr;
    }

    .product-item__image {
        height: 350px;
    }
}

@media (max-width : 375px) {
    .products__top-list {
        grid-template-columns: 1fr;
    }

    .product-item__image {
        height: 200px;
    }

    .product-item {
        padding: 15px;
    }
}

/* detail */

.detail__inner {
    height: 63vh;
}

.detail__inner-top {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

.left {}

.detail__img {
    width: 445px;
    height: 445px;
}

.detail__left-bottom {
    display: flex;
    justify-content: space-between;
}

.detail__detail-img {
    width: 67px;
    height: 67px;
}

.detail__bottom-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.detail__right {}

.detail__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.5px;
    margin-bottom: 25px;
    max-width: 450px;
}

.detail__btns {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.detail__available {
    font-size: 14px;
    font-weight: 400;
    background-color: #35974014;
    border-radius: 120px;
    color: #4FA083;
    padding: 10px 20px;
}

.detail__vegetable {
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #EFEFEF;
    border-radius: 120px;
    color: #1F2533;
    padding: 10px 20px;
}

.detail__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.detail__item {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    padding: 10px 15px;
}

.detail__item.active {
    border: 1px solid #4FA083;
}

.detail__item-span {
    font-size: 14px;
    font-weight: 400;
    color: #1F2533;
    margin-left: 10px;
}

.detail__start {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    margin-right: 10px;
}

.detail__started-price {
    font-size: 16px;
    font-weight: 500;
    color: #1F2533;
}

.detail__right-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail__right-bottom__bottom {
    display: flex;
    align-items: center;
    gap: 15px;
}

.detail__heard-btn {
    width: 24px;
    height: 24px;
}

.detail__add-cart {
    max-width: 153px;
    width: 100%;
    padding: 11px 33px;
    background-color: #359740;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.detail__price {
    font-size: 28px;
    font-weight: 600;
    color: #1F2533;
}

.detail__inner-bottom {}

.detail__information {
    font-size: 36px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EFEFEF;
}

.detail__information-top {
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 65px;
}

.detail__information-list {
    padding-left: 20px;
}

.detail__information-item {
    list-style: disc;
}

.detail__information-text {
    font-size: 16px;
    font-weight: 300;
    color: #1F2533;
    line-height: 28px;
    max-width: 570px;
}

.detail__information-bottom {
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    padding: 25px;
}

.detail__information-div {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    padding: 17px 0;
}

.detail__information-title {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
}

.detail__information-size {
    font-size: 16px;
    font-weight: 500;
    color: #1F2533;
}


.detail__incart-minus-img {}

.detail__incart-add-img {}

.detail__incart-div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 27.5px;
    border-radius: 11px;
    border: 1px solid #EFEFEF;
    max-width: 153px;
    width: 100%;
}

.detail__incart-minus-btn {
    display: flex;
    align-items: center;
}

.detail__incart-add-btn {
    display: flex;
    align-items: center;
}


.detail__incart-count-span {
    background-color: #35974014;
    font-size: 18px;
    font-weight: 500;
    color: #359740;
    padding: 0px 15px;
    border-radius: 6px;
}

.detail__title--active {
    display: none;
}

@media (max-width : 860px) {
    .detail__img-div {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .detail__inner-top {
        display: block;
    }

    .detail__title--active {
        display: block;
        font-size: 24px;
        font-weight: 600;
        line-height: 31.5px;
        margin-bottom: 25px;
        max-width: 450px;
        margin-bottom: 25px;
    }

    .detail__title {
        display: none;
    }

    .left {
        margin-bottom: 30px;
    }
}

@media (max-width : 500px) {
    .detail__img {
        height: 350px;
        width: 100%;
    }

    .detail__img-div {
        display: block;
    }

    .detail__detail-img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width : 375px) {
    .detail__title--active {
        font-size: 22px;
        font-weight: 600;
        max-width: 100%;
        margin-bottom: 23px;
    }

    .detail__img {
        height: 300px;
    }

    .detail__detail-img {
        width: 45px;
        height: 45px;
    }

    .detail__add-cart {
        font-size: 16px;
        padding: 11px 20px;
    }

    .detail__price {
        font-size: 28px;
    }
}

/* likes */

.likes__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.likes__title {
    font-size: 36px;
    font-weight: 600;
    color: #1F2533;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 24px;
    margin-bottom: 40px;
}

.likes__empty {
    font-size: 26px;
    color: red;
    text-align: center;
}

@media (max-width:970px) {
    .likes__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:650px) {
    .likes__list {
        grid-template-columns: 1fr;
    }
}

/* savat */


.savat {}


.savat__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: start;
}

.savat__inner-left {}

.savat__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #EFEFEF;
    padding-bottom: 40px;
}

.savat__title {
    font-size: 36px;
    font-weight: 600;
    color: #1F2533;
}

.savat__length {
    font-size: 24px;
    font-weight: 600;
    color: #70737C;
    line-height: 30px;
}

.savat__bottom {}

.savat__bottom-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 0;
    margin-top: 40px;
}

.savat__detail-right {
    display: flex;
    gap: 70px;
}

.savat__details {}

.savat__list {}

.cart__item {
    display: flex;
    align-items: center;
    padding: 24px 0;
    border-bottom: 2px solid #EFEFEF;
}

.cart__img {
    width: 70px;
    height: 70px;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    padding: 5px;
}

.cart__title {
    font-size: 14px;
    font-weight: 400;
    max-width: 250px;
    color: #1F2533;
    line-height: 178%;
    margin-left: 16px;
}

.product-item__incart-div {
    margin-left: 60px;
}

.product-item__incart-minus-img {}

.product-item__incart-count-span {}

.product-item__incart-add-img {}

.cart__price {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #1F2533;
}

.cart__total-price {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #1F2533;
}

.savat__inner-right {
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 12px 0 #CFCFCF40;
}

.savat__left-title {
    font-size: 18px;
    font-weight: 700;
    color: #1F2533;
    margin-bottom: 14px;
}

.savat__right-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.savat__savat__right-length {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
}

.savat__savat__right-prive {
    font-size: 18px;
    font-weight: 500;
    color: #1F2533;
}

.savat__right-bottom {}

.savat__right-bottom-top {
    padding-bottom: 35px;
    border-bottom: 2px solid #EFEFEF;
}

.savat__right-bottom-Promocode-wrapper {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.savat__right-bottom-Promocode-inp {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    padding: 14px 30px 14px 24px;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    outline: none;
}

.savat__right-bottom-bottom {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.savat__right-bottom-bottom-Total {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
}

.savat__right-bottom-bottom-sum {
    font-size: 18px;
    font-weight: 500;
    color: #1F2533;
}

.savat__right-bottom-btn {
    padding: 11px 33px;
    background-color: #359740;
    color: #fff;
    border-radius: 8px;
    width: 100%;
}

@media (max-width : 1100px) {
    .savat__bottom-top {
        display: none;
    }
}

@media (max-width : 950px) {
    .savat__inner {
        grid-template-columns: 1fr;
    }

    .product-item__incart-div {
        margin-left: 20px;
    }

    .cart__price {
        margin-left: 10px;
    }

    .cart__total-price {
        margin-left: 20px;
    }

    .savat__title {
        font-size: 26px;
    }

    .savat__top {
        padding-bottom: 20px;
    }
}

@media (max-width : 530px) {
    .cart__item {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row-reverse;
        row-gap: 20px;
    }

    .cart__img {
        width: 150px;
        height: 150px;
    }

    .cart__title {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

/* footer */

.footer {
    background-color: #F7F7F7FF;
}

.footer__inner {
    padding: 40px 0;
    margin-top: 40px;
}

.footer__inner-top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #359740;
    padding-bottom: 33px;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer__item {}

.footer__link {
    font-size: 14px;
    font-weight: 500;
    color: #70737C;
    padding: 10px 32px;
    display: block;
    border-right: 1px solid #4FA083;
}

.footer__link.active {
    color: #359740;
}

.footer__logo-link {}

.footer__logo {
    margin: 0 70px 0 75px;
}

.footer__inner-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;

}

.footer-icons {}

.footer-icon {}

.footer__bottom-right {
    font-size: 14px;
    color: #70737C;
}

.footer__inner-responsive {
    display: none;
}

@media (max-width:1080px) {
    .footer__link {
        padding: 10px 20px;
    }

    .footer__logo {
        margin: 0 40px 0 40px;
    }
}


@media (max-width: 890px) {
    .footer__inner-responsive {
        display: block;
    }

    .footer__inner-top {
        display: none;
    }

    .footer__link--active {
        border: none;
        text-align: center;
    }

    .footer__list--active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .footer__logo-responsive-link {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
    }
}

@media (max-width : 500px) {
    .footer__link--active {
        text-align: left;
        font-size: 14px;
        padding: 10px;
    }
}